# Created by .ignore support plugin (hsz.mobi)
.idea
.Python
.DS_Store
.pytest_cache

# Directories
bin
include
lib
pip-selfcheck.json
selenium
results

# Files
geckodriver.log

# Byte-compiled / optimized / DLL files
__pycache__/